* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  
  
}
/* Navbar */
header{
  background-color: #161B22;
}
.circle-link {
  display: inline-block;
  width: 50px; /* adjust the size as needed */
  height: 50px; /* adjust the size as needed */
  border-radius: 50%;
  text-align: center;
  background-color: #f8f9fa; /* set initial background color */
  transition: background-color 0.3s ease;
  margin-right: 15px;
}

.circle-link:hover {
  background-color: #238636; /* set hover background color */
}

.circle-link a {
  display: inline-block;
  line-height: 50px; /* adjust the line-height to vertically center the text */
  color: black; /* set text color */
  text-decoration: none; /* remove underline */
}
.nav {
  padding: 2px 2vw;
}
.store-title {
  padding: 2px 2vw;
}
.dark-light-img {
  width: 30px;
  background-color: white;
  margin: 5px 5vw;
}
.search-box {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color:white;
  outline: none;
}
.search-btn {
  width: 40%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background:  #238636;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.search-btn:hover {
  background: #40da5e;
}
.search-box::placeholder {
  color: #a9a9a9;
}
.nav-items a {
  margin-left: 0;
}
.nav-items a img {
  width: 30px;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Adjustments for smaller screens */
  .store-title {
    justify-content: center;
  }
  .store-title h2 {
    font-size: 18px;
  }
  .search {
    max-width: 100%; /* Allow full width on smaller screens */
  }
}

/* Links */
.links-container {
  padding: 10px 10vw;

  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  color: #383838;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

/* Hero section */
.hero-section {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("/images/samsung-galaxy-s23-ultra-google-apps.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .logo {
  height: 150px;
  display: block;
  margin: auto;
}

.hero-section .sub-heading {
  margin-top: 10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
/* Footer section */
ul {
  list-style: none;
}
.footer {
  background-color:#21262d;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color:white;
  background-color: #238636;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* dEMO FOOTER */
footer {
  display: flex;
  flex-direction: column;
  background-color: #010409;
  align-items: center;
  color: white;
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 15px;
}
.social-media {
  display: flex;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.social-media a {
  color: white;
  margin: 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}
.social-media a ion-icon {
  color: white;
  background-color: black;
}
.social-media a:hover ion-icon {
  color: red;
  transform: translateY(5px);
}
.footer2 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
}
.footer0 {
  font-weight: 1200;
  transition-duration: 1s;
}
.footer0:hover {
  color:  #238636; 
}
.footer2 .heading {
  font-weight: 900;
  font-size: 18px;
}
.footer3 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer2 .heading:hover {
  color: #238636;
}
.footer2 .div:hover {
  transform: scale(1.05);
}
.footer3 h4 {
  margin: 0 10px;
}
.footer2 div {
  margin: 10px;
}
.menu {
  visibility: hidden;
}
.heading1 .ham:active {
  color: red;
}
.items {
  overflow: hidden;
}
.ham,
.close {
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .heading ul li {
    display: none;
  }

  .items {
    transform: scale(0.9);
  }
  .img-slider img {
    height: 60vw;
    width: 80vw;
  }
  .ham:active {
    color: red;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu a ion-icon {
    position: absolute;
  }

  @keyframes slide1 {
    0% {
      left: 0vw;
    }
    15% {
      left: 0vw;
    }
    20% {
      left: -80vw;
    }
    32% {
      left: -80vw;
    }
    35% {
      left: -160vw;
    }
    47% {
      left: -160vw;
    }
    50% {
      left: -240vw;
    }
    63% {
      left: -240vw;
    }
    66% {
      left: -320vw;
    }
    79% {
      left: -320vw;
    }
    82% {
      left: -400vw;
    }
    100% {
      left: 0vw;
    }
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 11;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
  .close {
    z-index: 34;

    color: white;
    background-color: black;
  }
  .close:active {
    color: red;
  }
  .menu ul li {
    list-style: none;
    margin: 20px;
    border-top: 3px solid white;
    width: 80%;
    text-align: center;

    padding-top: 10px;
  }
  .menu ul li a {
    text-decoration: none;
    padding-top: 10px;
    color: white;
    font-weight: 900;
  }
  .menu ul li a:hover {
    color: #238636;
  }
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 80%;
    height: 60%;
    animation-name: slide1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }
  .section1 {
    width: 80%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .heading1 {
    opacity: 1;
    position: relative;
    bottom: 8px;
  }
  .search a {
    display: flex;
    flex-wrap: nowrap;
  }

  .heading1 .ham {
    background-color: black;
    color: white;
  }
  #input {
    width: 200px;
    flex-shrink: 2;
  }
  header {
    height: 150px;
  }
}
@media screen and (max-width: 550px) {
  .heading ul li {
    display: none;
  }
  .heading1 {
    opacity: 1;

    bottom: 8px;
  }

  header {
    height: 250px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #input {
    width: 150px;
  }
  .close {
    z-index: 34;
  }

  .search a {
    display: flex;
    flex-wrap: nowrap;
  }
}
/* eND OF DEMO FOOTER */
